
#container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#world {
    width: 200vw;
    height: 200vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    width: 100px;
    height: 100px;
    background-color: black;
}