
:root {
    --tree-row-gap: 100px;
    --tree-col-gap: 80px;
    --tree-col-size: 50px;
    --line-size: 2px;
    --line-color: red;
}

#container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#world {
    width: fit-content;
    height: fit-content;

    min-width: 200vw;
    min-height: 200vh;

    padding: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    width: 100px;
    height: 100px;
    background-color: black;
}



#tree {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--tree-col-size));
    grid-template-rows: calc(2 * var(--tree-col-size) + var(--tree-col-gap));
    row-gap: var(--tree-row-gap);
    column-gap: var(--tree-col-gap);
}

.node {
    background-color: black;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    cursor: pointer;
}


#lines {
    pointer-events: none;
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    padding-top: calc(2 * var(--tree-col-size) + var(--tree-col-gap));
    gap: calc(2 * var(--tree-col-size) + var(--tree-col-gap));
    flex-wrap: wrap;
}

.line-row {
    display: grid;
    grid-template-rows: 1fr var(--line-size) 1fr;
    height: var(--tree-row-gap);
}

.line-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-line {
    height: 100%;
    width: var(--line-size);
    background-color: var(--line-color);
}

.horizontal-line {
    width: calc(100% - var(--tree-col-gap) + var(--line-size));
    height: 100%;
    background-color: var(--line-color);
}
